body {
    font-family: sans-serif;
    background-color:rgb(99, 179, 99);
}
header{
    background-color:white;
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
    color: darkblue;
}
header a{
    margin: 10px;
    padding: 10px;
    background-color: green;  
    border-radius: 15px;
    color: white;
    text-decoration: none;


}
h1{
    color: white;
    text-align: center;
    


}
footer{
    background-color: white;
    padding: 10px;
}
footer p{
    background-color: green;
    margin: 10px;
    padding: 10px;


}
nav{
    background-color: green;
    margin: 20px;
    padding: 10px;

}
nav a{
    color:white;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;

    

}
select{
    padding: 10px;
    margin: 15px;
    
    color: black;
}
.icon{
    background-color: rgb(218, 61, 13);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;

}
#discount{
    color: blue;
    
    
}
.sale_img{
    border-radius: 15px;
    border: 3px solid rgb(8, 110, 194);
}
